@charset "utf-8";
/* CSS Document */

#admin-menu a{
	color: #fafafa !important;	
}

li.pager-current {
	color: #fff !important;
	background: #666;
	border-radius: 3px;
	border: 1px solid #eee;
	padding: 5px 15px;
}

ul.links.inline {
	display: -webkit-box;
	list-style-type: none;
	padding-left: 0px;
	text-transform: capitalize;
}
ul.links.inline li{
	margin-right: 10px;
	
}

.indented {
	margin-left: 70px;	
}

ul.tabs.primary{
	display: flex;
	list-style-type: none;
	margin-bottom: 50px;
}
ul.tabs.primary li a{
	margin-right: 10px;
	border: 2px solid #989898;
	padding: 5px 10px;
}

#user-login, #user-pass, #user-register-form {
	margin-left: 25%;
	width: 50%;
}
#user-login input[type=text],#user-login input[type=password],#user-pass input[type=text],#user-register-form input[type=text]{
	border: 2px solid #989898;
	padding: 5px 10px;
	background: none;
	clear:both;
	float:left;
	width: 100%;
}
#user-login input[type=submit],#user-pass input[type=submit], #user-register-form input[type=submit]{
	margin-top: 10px;
	border: 2px solid #989898;
	padding: 5px 10px;
	background: none;
}
#user-login input[type=submit]:hover, #user-pass input[type=submit]:hover , #user-register-form input[type=submit]:hover , ul.tabs.primary li a:hover{
	color: #FFF !important;
	background: #989898 !important;
}
